{% extends 'customer/header.twig' %}

{% block ul %}
    <li class="nav-item"><a href="/S401-site" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="/S401-site/chief/products" class="nav-link">Products</a></li>
    <li class="nav-item"><a href="/S401-site/chief/brands" class="nav-link">Brands</a></li>
    <li class="nav-item"><a href="/S401-site/chief/categories" class="nav-link">Categories</a></li>
    <li class="nav-item"><a href="/S401-site/chief/stores" class="nav-link">Stores</a></li>
    <li class="nav-item"><a href="/S401-site/chief/stocks" class="nav-link">Stocks</a></li>
    <li class="nav-item"><a href="/S401-site/chief/employees" class="nav-link">Employees</a></li>
    <li class="nav-item"><a href="/S401-site/about" class="nav-link">About</a></li>
{% endblock %}